<div id="consent-text" style="width:700px;font-size:16px;margin-top:30px;text-align:justify">

    <p>Please note you cannot proceed with the experiment and we will not able to pay you if you: </p>
    <ol>
        <li>Fail the comprehension quiz twice.</li>
        <li>Change the tab/window of this HIT more than 2 times.</li>
        <li>Do this HIT on a mobile device.</li>
    </ol>

    <p>If you have any questions or concerns about this HIT please contact <a href="mailto:sepehrsdp@gmail.com">Sepehr Saeedpour</a>.  </p>
    <!-- <p>If you are not satisfied with the response of the research team or want to talk with someone about your rights as a research participant, you should contact Royal Holloway's research ethics board at ethics@rhul.ac.uk</p> -->
    <!-- <p>You are free to decline to participate or to end participation at any time for any reason.</p> -->
    <p>By clicking below, you consent to participate in this experiment. If you do not wish to continue, please simply close this window and return the HIT.</p>
    <button type="button" id='consent'>I consent to take part in this experiment</button>
    </div>    






