<div id="consent-text" style="width:700px;font-size:16px;margin-top:30px;text-align:justify">
    <p>The HIT you are about to do is the first round of a 3-round experiment from Crowd Cognition Group at the Ludwig Maximilian University of Munich. Today you will start with round 1 which includes three blocks of 40 trials.<br> At the end of today, you will get 5$ for sure. There is a separate bonus of up to 2$ which will depend on your performance. You will collect this bonus when you have completed the rounds 2 and 3 of the experiment which will happen in 2 weeks time. </p>

    <p>Today, your task is to learn a set of images and figure out how to earn a reward from each. More detailed instructions will be provided on the next few screens.</p>
    <p>This experiment has no anticipated risks. There are comprehension checks to make sure you understand the instructions. You cannot proceed with the experiment until you pass the comprehension quiz.</p>
    <p>Only take this HIT on a laptop or desktop computer. Do NOT take this HIT on a mobile device (e.g., cell phone or tablet) otherwise we will not be able to pay you. Do NOT use the Internet Explorer.</p>
    <p>If you have any questions or concerns about this HIT please contact <a href="mailto:sepehrsdp@gmail.com">Sepehr Saeedpour</a>.  </p>
    <!-- <p>If you are not satisfied with the response of the research team or want to talk with someone about your rights as a research participant, you should contact Royal Holloway's research ethics board at ethics@rhul.ac.uk</p> -->
    <!-- <p>You are free to decline to participate or to end participation at any time for any reason.</p> -->
    <p>By clicking below, you consent to participate in this game. If you do not wish to continue, please simply close this window and return the HIT.</p>
    <button type="button" id='consent'>I consent to take part in this experiment</button>
    </div>    






