<div id="consent-text" style="width:600px;font-size:16px;margin-top:30px;text-align:justify">
    <p>The HIT you are about to do is an experiment by researchers at Ludwig Maximilian University of Munich. You will have to learn what the outcome of each image is.
        More detailed HIT instructions will be provided on the next few screens.</p>
    <p>This game has no anticipated risks. There is a performance-based bonus which will be explained later.</p>
    <p>There are also comprehension checks to make sure you understand the instructions. You cannot proceed with the experiment until you pass the comprehension quiz.</p>
    <p>Do not take this HIT on a mobile device (e.g., cell phone or tablet), and do not take it with Internet Explorer.
    <p>If you have any questions or concerns about this HIT please contact <a href="mailto:sepehrsdp@gmail.com">Sepehr Saeedpour</a>  </p>
    <!-- <p>If you are not satisfied with the response of the research team or want to talk with someone about your rights as a research participant, you should contact Royal Holloway's research ethics board at ethics@rhul.ac.uk</p> -->
    <!-- <p>You are free to decline to participate or to end participation at any time for any reason.</p> -->
    <p>By clicking below, you consent to participate in this game.  If you do not wish to continue, please simply close this window and return the HIT.</p>
    <button type="button" id='consent'>I consent to take part in this experiment</button>
    </div>    






